header {
    padding: 1rem;
    background: #262626;
    border-bottom: 1px solid #3c3c3c;
    nav {
        @include flexCenter();

        ul {
            @include flexCenter(space-between);
            width: 100%;
            max-width: 800px;

            a {
                font-size: 18px;
                text-transform: uppercase;
                color: #fff;
                padding: 4px 10px;
                border-radius: 10px;
                transition: .3s;
                &:hover {
                    box-shadow: 0px 0px 20px 0px #0000007d;
                }
            }
        }
    }
}