.main-container {
  display: flex;
  background: black;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
  min-height: 100vh;

  > div {
    flex: 1;
  }
  //Quadro da pagina inicial
  .evContainer {
    background: #000000 url(../images/fundo.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100%;

    .evCardBg {
      background: #0000009d;
      min-height: 100vh;
      @include flexCenter();
    }

    .evCard-Container {
      @include flexCenter();
      background-color: #00000090;
      flex-direction: column;
      width: 100%;
      max-width: 300px;
      min-height: 600px;
      border: solid 2px #7c7c7c;
      border-radius: 30px;
      box-shadow: 0px 0px 20px 0px #000000be;

      p {
        color: white;
        text-align: left;
        padding: 22px;
        font-size: 18px;

        strong {
          font-size: 25px;
        }
      }
    }

    img {
      width: 100%;
      max-width: 280px;
    }
  }
  //Quadro de habilidades
  .skillsContainer {
    @include flexCenter();
    background-size: cover;
    background: #000000;
    border-left: 1px solid #4d4d4d;

    .skillsCard {
      @include flexCenter(center, center, column);
      padding: 1rem 0.5rem;
      width: 100%;
      max-width: 500px;
      min-height: 50vh;
      gap: 30px;

      .Lg {
        background-color: rgba(255, 255, 255, 0.279);
        width: 100%;
        max-width: 400px;
        border-radius: 20px;
        padding: 15px;
        position: relative;
        overflow: hidden;

        > .img-li {
          @include flexCenter();
          gap: 30px;
          width: 100%;
          transition: 0.3s;
        }

        .square {
          transform: rotate(45deg);
          width: 80%;
          height: 200%;
          top: -40%;
          right: -100%;
          position: absolute;
          transition: 0.3s;
          background-color: rgb(0, 0, 0);
        }

        &:hover > .img-li {
          animation: animationImgLi 0.3s linear forwards;
        }
        &:hover .square {
          right: -30%;
        }

        li {
          transition: 0.4s;
          font-weight: bold;
        }
      }

      img {
        transition: 0.4s;
        @include heightImages();
      }

      ul,
      li {
        color: rgb(255, 255, 255);
        font-size: 30px;
      }
    }
  }
}

@keyframes animationImgLi {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

// Responsividade
@media (max-width: 1100px) {
  .main-container {
    flex-direction: column;
    padding-top: 50px;
  }
}
