.main-container{
    display: flex;
    background-color: black;
    flex-direction: row;
    min-height: 92.8vh;

    .evContainer{
        display: flex;
        background-color: #000000;
        min-height: 100%;
        // flex: 1;
        width: 50%;
        .evCard-Container{
            @include flexCenter();
            flex-direction: column;
            // padding: 200px 0px;
            // border: 3px solid blue;
            ul, li{
                color: white;
            }
        }
        img {
            width: 250px;
            // border: 1px solid red;
        }
    }

    .aboutUsContainer{
        @include flexCenter();
        display: flex;
        background-color: #fc7e00;
        width: 50%;
        ul, li{
            color: white;
            font-size: 15px;
        }
    }
    
}