.side-bar {
  position: absolute;
  top: 37%;
  transform: translate(-60%);
  transition: 0.3s;
}
.side-bar:hover {
  transform: translateX(0);
}
.side-bar:hover span {
  display: initial;
}
.side-bar:hover li {
  text-align: left;
  padding-right: 4px;
}
.side-bar ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.side-bar ul li {
  background: #fff;
  padding: 15px 10px 15px 4px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  width: 110px;
  text-align: right;
}
.side-bar ul li a {
  color: #000;
  font-size: 20px;
  text-align: left;
}
.side-bar ul li a span {
  padding-left: 4px;
  font-size: 18px;
  display: none;
}

@media (max-width: 550px) {
  .side-bar {
    display: none;
  }
}
.show-side-bar-mobile {
  display: none;
  position: absolute;
  left: 40px;
  top: 40px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.side-bar-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px 12px 20px;
  background: #121111;
  border-bottom: 1px solid #a2a2a2;
  gap: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  transform: translateY(-100%);
  transition: 0.3s;
}
.side-bar-mobile button {
  align-self: flex-start;
  font-size: 30px;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}
.side-bar-mobile ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.side-bar-mobile ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #fff;
  gap: 4px;
  text-transform: uppercase;
}

.transitionEnter {
  transform: translateY(0);
}

@media (max-width: 550px) {
  .show-side-bar-mobile {
    display: initial;
  }
}
@media (max-width: 350px) {
  .side-bar-mobile i {
    font-size: 25px;
  }
  .side-bar-mobile span {
    display: none;
  }
}
.main-container {
  display: flex;
  background: black;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
  min-height: 100vh;
}
.main-container > div {
  flex: 1;
}
.main-container .evContainer {
  background: #000000 url(../images/fundo.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}
.main-container .evContainer .evCardBg {
  background: rgba(0, 0, 0, 0.6156862745);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main-container .evContainer .evCard-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5647058824);
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  min-height: 600px;
  border: solid 2px #7c7c7c;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7450980392);
}
.main-container .evContainer .evCard-Container p {
  color: white;
  text-align: left;
  padding: 22px;
  font-size: 18px;
}
.main-container .evContainer .evCard-Container p strong {
  font-size: 25px;
}
.main-container .evContainer img {
  width: 100%;
  max-width: 280px;
}
.main-container .skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  background: #000000;
  border-left: 1px solid #4d4d4d;
}
.main-container .skillsContainer .skillsCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0.5rem;
  width: 100%;
  max-width: 500px;
  min-height: 50vh;
  gap: 30px;
}
.main-container .skillsContainer .skillsCard .Lg {
  background-color: rgba(255, 255, 255, 0.279);
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  overflow: hidden;
}
.main-container .skillsContainer .skillsCard .Lg > .img-li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  transition: 0.3s;
}
.main-container .skillsContainer .skillsCard .Lg .square {
  transform: rotate(45deg);
  width: 80%;
  height: 200%;
  top: -40%;
  right: -100%;
  position: absolute;
  transition: 0.3s;
  background-color: rgb(0, 0, 0);
}
.main-container .skillsContainer .skillsCard .Lg:hover > .img-li {
  animation: animationImgLi 0.3s linear forwards;
}
.main-container .skillsContainer .skillsCard .Lg:hover .square {
  right: -30%;
}
.main-container .skillsContainer .skillsCard .Lg li {
  transition: 0.4s;
  font-weight: bold;
}
.main-container .skillsContainer .skillsCard img {
  transition: 0.4s;
  height: 50px;
}
.main-container .skillsContainer .skillsCard ul,
.main-container .skillsContainer .skillsCard li {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

@keyframes animationImgLi {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}
@media (max-width: 1100px) {
  .main-container {
    flex-direction: column;
  }
  .evCardBg {
    padding-top: 80px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  list-style: none;
}

a, button {
  text-decoration: none;
  border: none;
  background: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none;
}/*# sourceMappingURL=index.css.map */