@mixin flexCenter($justify-content: center, $align-items: center, $direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin widthImages($width: 50px) {
    width: $width;
}


@import './variaveis';
@import './sideBar';
@import './home';
@import './skills';
@import './projects';
@import './contact';

// Estilos gerais
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    list-style: none;
}

a, button {
    text-decoration: none;
    border: none;
    background: transparent;
}


*::-webkit-scrollbar {
    display: none;
}